<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando api dos games</title>
</head>
<body>
    <h1>Bem-vindo à API de Jogos</h1>
    <p>Este é um exemplo de página renderizada com EJS.</p>
</body>
</html>
